/**********************
*****   Masthead ******
**********************/

.masthead .container {
  margin-left: 1.5rem;
  margin-right: 2rem;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.masthead .container p {
  width: 25vw;
  font-size: .75rem;
}

.masthead .container a.small-head {
  padding-top: 0;
  display: none;
}

/**********************
******   Sidebar ******
**********************/

.sidebar {
  width: 14rem;
  background: linear-gradient(to bottom, #000000 35%, #F57979 80%);
  font-weight: 300;
}

a #mars {
  margin-left: 3rem;
  margin-top: -1rem;
  margin-bottom: 5vh;
}

.icon-holder {
  margin-top: 15vh;
  margin-left: 2rem;
}

.icon-list {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.icon-list li {
  margin-right: 1rem;
}

.icon-list img:hover {
  cursor: pointer;
}

.icon-list img {
  height: 2rem;
}

a.sidebar-nav-item {
  font-size: 1rem;
  font-weight: 300;
  margin-left: 1rem;
}

a.sidebar-nav-item:hover {
  color: #b3ebff;
}


/**********************
****  Main Content ****
**********************/

.wrap {
  margin-left: calc(14rem + 1vw);
}

.post-title {
  font-size: 1.5rem;
}

.post-date {
  font-size: .8rem;
}

.content {
  margin-left: 1.5rem;
  margin-right: 1rem;
  font-size: .8rem;
  padding-left: 0;
}

img[alt=Architecture\ Diagram] {
  width: 100%;
}

img[alt=basic-sphere],
img[alt=basic-earth],
img[alt=y-axis-rotation] {
  width: 50%;
  margin: auto;
}

img[alt=rh-coordinate-system] {
  margin: auto;
}

/**********************
****  POST LIST *******
**********************/


span.post-date {
  margin-bottom: .5rem;
}

div.post {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #d0d0d0;
}

/**********************
****  POST LIST *******
**********************/

#earth-rotation canvas {
  margin-left: 2rem;
}


/**********************
****  Responsivity ****
**********************/

@media only screen and (min-width: 500px) {
  .container.content,
  .masthead {
    width: calc(100vw - 15rem);
  }
}

@media only screen and (max-width: 1000px) {
  .container p.quote {
    font-size: .5rem;
  }
  .masthead .container {
    padding-right: 0;
  }

}

@media only screen and (max-width: 720px) {
  .container p.quote {
    display: none;
  }
  .container {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 610px) {
  a #mars {
    margin-left: 1.5rem;
  }
  .icon-holder {
    margin-top: 25vh;
  }
}

@media only screen and (max-width: 500px) {
  .sidebar {
    display: none;
  }
  .wrap {
    margin-left: 0;
  }
  .masthead .container a.small-head {
    display: block;
  }
  .quote {
    display: none;
  }
  .sidebar-toggle {
    display: none;
  }
  div.container.content {
    margin-left: 10px;
    margin-right: 10px;
  }
  .content {
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}


