<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a href="/">
      <div id="mars">
        <script>
          (function(){var width  = 150,
              height = 150;

          var scene = new THREE.Scene();

          var camera = new THREE.PerspectiveCamera(45, width / height, 0.01, 1000);
          camera.position.z = 1.5;

          var renderer = new THREE.WebGLRenderer({antialias: true});
          renderer.setSize(width, height);
          document.getElementById("mars").appendChild( renderer.domElement );

          var orbitControls = new THREE.OrbitControls(camera, renderer.domElement);
          scene.add(new THREE.AmbientLight(0x333333));

          var light = new THREE.DirectionalLight(0xffffff, 1);
          light.position.set(5,3,5);
          scene.add(light);

          var geometry = new THREE.SphereGeometry(0.5, 32, 32);
          var material = new THREE.MeshPhongMaterial({
          map: THREE.ImageUtils.loadTexture("/images/marsmap1k.jpg"),
          color: 0xaaaaaa,
          ambient: 0xaaaaaa,
          specular: 0x333333,
          bumpScale: 0.2,
          shininess: 10
          });
          var sphere = new THREE.Mesh( geometry, material);
          scene.add(sphere);

          render();
          function render() {
            sphere.rotation.y += 0.0008;
            requestAnimationFrame(render);
            renderer.render(scene, camera);
          }
        })();
        </script>

      </div>
    </a>


    <a class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}" href="/">Posts</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    <a class="sidebar-nav-item" href="http://loftus.xyz/tycho">
      Tycho
    </a>

    <div class="icon-holder">
      <ul class="icon-list">

        <li>
          <a href="https://github.com/MattLoftus">
            <img src="/images/github-icon.svg">
          </a>
        </li>

        </li>
          <a href="https://linkedin.com/in/LoftusMatt">
            <img src="/images/linkedin.svg">
          </a>
        </li>

      </ul>

      <ul class="icon-list">

        <li>
          <a href="https://twitter.com/MastaYu">
            <img src="/images/twitter-black.png">
          </a>
        </li>

        <li>
          <a href="https://plus.google.com/u/0/102102600372077627915/posts">
            <img src="/images/google-plus.svg">
          </a>
        </li>

      </ul>

    </div>
    
  </nav>

</div>
